[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = https://github.com/nurlansu/hugo-sustain.git
[submodule "themes/lynx"]
	path = themes/lynx
	url = https://github.com/jpanther/lynx.git
