html,
body {
    height: 100%;
    background-color: #e6decd;
    font-family: source sans pro, sans-serif;
    border-top: 3px solid #698f40;
    color: #0b132a;
}

.container a {
    color: #698f40;
    text-decoration: none
}

.container a:hover {
    color: #4A642D
}

.footer {
    border-bottom: 5px solid #698f40;
    padding: 20px 0;
    text-decoration: none !important
}

.social-links li a {
    font-size: 20px;
    color: #0b132a;
    padding: 10px;
    padding-bottom: 4px;
    transition: all .4s ease
}

.social-links li a:hover {
    color: #071439
}

.text-muted {
    color: #0b132a !important;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-link,
.navbar .navbar-link:hover,
.navbar .navbar-nav>li>a,
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus,
.navbar .navbar-text,
.navbar-toggler {
    color: #0b132a
}

.navbar-nav>.active>a,
.navbar-nav>.active>a:hover,
.navbar-nav>.active>a:focus,
.navbar-nav>.open>a,
.navbar-nav>.open>a:hover,
.navbar-nav>.open>a:focus {
    color: #0b132a;
    background-color: #e6decd
}


/* light: #fbfaf8; */
/* creme: #e6decd; */
/* green: #698f40; */
/* navy: #0b132a; */