.mt-10 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.h-36 {
  height: 16rem;
}

.w-36 {
  width: 16rem;
}

/* Colour Palette */
/* light: #fbfaf8; */
/* creme: #e6decd; */
/* green: #698f40; */
/* navy: #0b132a; */
